:root {
  --f-family-base: Arial, Helvetica, sans-serif;
  --f-size-s: 1.3rem;
  --f-size-base: 1.6rem;
  --f-size-l: 1.9rem;
  --f-size-xl: 2.2rem;
  --f-size-xxl: 2.5rem;
  --white: #ffffff;
  --lightgray: #f8f9fa;
  --gray: #f2f2f2;
  --darkgray: #70757a;
  --blue: #4584ef;
  --black: #212121;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--f-family-base);
  font-size: var(--f-size-base);
}
img {
  width: 100%;
  height: auto;
}
header {
  font-size: var(--f-size-s);
  display: flex;
  justify-content: flex-end;
}
header nav {
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  margin: 1rem;
}
header nav a:link {
  text-decoration: none;
}
header nav a.text {
  color: var(--black);
}
header nav a.text:hover {
  text-decoration: underline;
}
header nav a.btn-apps {
  color: var(--darkgray);
}
header nav a.btn-apps:hover {
  color: var(--black);
}
header nav a.btn-sign {
  background-color: var(--blue);
  color: var(--lightgray);
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  font-weight: bold;
}
header nav a .btn-sign:hover {
  text-decoration: none;
  cursor: pointer;
}
main {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .box-search {
  width: 36rem;
  border: 0.1rem solid var(--gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4rem;
  padding: 1rem 2rem;
}
main .box-search input {
  width: 100%;
  border: none;
}
main .box-search input:focus {
  outline: none;
}
main .btns {
  margin: 2rem;
}
main .btns button {
  margin: 0.5rem;
  padding: 1rem;
  border: none;
  background-color: var(--lightgray);
  color: var(--black);
  border-radius: 0.5rem;
}
main .btns button:hover {
  cursor: pointer;
  border: 0.2rem solid var(--gray);
}
footer {
  background-color: var(--lightgray);
  position: absolute;
  bottom: 0;
  border-top: 0.1rem solid lightgray;
  width: 100%;
}
footer p {
  color: var(--darkgray);
  border-bottom: 0.1rem solid lightgray;
  margin-top: 0;
  padding: 1.6rem;
  width: 100%;
}
footer .navs {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
footer .navs nav {
  padding: 1rem;
}
footer .navs nav a {
  text-decoration: none;
  padding: 0.5rem;
}
footer .navs nav a:link {
  color: var(--darkgray);
}
footer .navs nav a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 806px) {
  footer .navs {
    flex-direction: row;
    justify-content: space-between;
  }
}
